@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

li, a, button {
    font-family: "Archivo Black", "sans-serif";
    font-weight: none;
    font-size: 1vw;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

/*LOADER*/
.loader{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logoloader {
    width: 20vw;
    height: auto;
}

.loader.hidden {
    animation: fadeOut 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


main{
    padding: 0; 
    margin: 0;
    font-family: "Archivo black", sans-serif;
}


/* MENÚ PRINCIPAL */
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: white;
}

.logo {
    width: 10vw;
    height: auto;
    cursor: pointer;
    position: relative;
    justify-content: space-between;
    padding: 1vh;
}

.navbar-links {
    height: 100%;
    
}

.navbar-links ul{
    display: flex;
    margin: 0;
    padding: 0; 
    
}

.navbar-links li {
    list-style: none;
    
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    transition: all 0.3s ease 0s;
}

.navbar-links li a:hover  {
    color: yellow;
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,1);

}

.toggle-button {
    position: absolute;
    top: 1.25rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%; 
    background-color: white;
    border-radius: 10px;
}

/* Responsive */
@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
} 


/* SLIDER / BANNER */
.hero {
    background-image: url("./../sources/img/robert-keane-rlbG0p_nQOU-unsplash.jpeg");
    position: relative; 
    left: 0;
    top: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    
    
}

.hero__title {
    font-size: 5vw;
    color: #fff;
    text-shadow: 3px 3px 5px #000;
    margin: 0;

}

.hero__subtitle {
    font-size: 3vw;
    color: #fff;
    background-size: 10px;
    text-shadow: 3px 3px 5px #000;
    margin: 0;
}


/* BOX MENU */
.box__menu{
    display: grid;
    grid-template-areas:
    "malla docentes noticias"
    "electivos horarios escuela";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    justify-items: center;
    margin: 30px;

}

.box__menu h2 {
    color: #fff;
    font-size: 2vw !important;  
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


.malla {
    display: flex;
    background-color: #FB8500; 
    width: 25vw;
    height: 25vh;
    border-radius: 1em;
    
}

.docentes {
    display: flex;
    background-color: #023047; 
    width: 25vw;
    height: 25vh;
    border-radius: 1em;
}

.noticias {
    display: flex;
    background-color: #FFB703 ; 
    width: 25vw;
    height: 25vh;
    border-radius: 1em;
}

.electivos {
    display: flex;
    background-color: #219EBC; 
    width: 25vw;
    height: 25vh;
    border-radius: 1em;
}

.horarios {
    display: flex;
    background-color: #AC5B00; 
    width: 25vw;
    height: 25vh;
    border-radius: 1em;
    text-align: center;
    text-decoration: none;

}

.escuela {
    display: flex;
    background-color: #8ECAE6; 
    width: 25vw;
    height: 25vh;
    border-radius: 1em;
}


/* NOTICIAS DESTACADAS*/
.news__section__title {
    color:#000;
    text-align: center;
    font-size: 5vw;
    padding: 10px;
    
}

.news__row {
    display: flex;
}

.news {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.news__row h3 {
    padding: 50px;

}

.news__row p {
    font-family: Arial, Helvetica, sans-serif;
}

.news img {
    width: 100%;
    height: 100%;
}

.news__content {
    padding: 10px;
}

.news__info, .news__title {
    text-align: justify;
    text-justify: inter-word;
}


/* FOOTER */
.footer {
    background-color: #000;
    justify-content: space-around;
    position: relative;
    align-items: center;
    justify-items: center;
    padding: 20px;
}

.logo__arcos {
    display: flex;
    width: 20vh;
    justify-content: center;
    align-items: center;
}

.footer p, h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: right;
    
}

.column__two {
        margin: 0;
}    

.column__three {
    object-fit: contain;
}

/* DOCENTES */
.teachers-title, .noticiasTitle {
    background-color: #023047;
    position: relative; 
    left: 0;
    top: auto;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;

}

.teachers-title h1 {
    font-size: 10vh; 
}

.cards {
    display: grid;
    grid-template-areas:
    "card1 card1 card1"
    "card4 card5 card6"
    "card7 card8 card9";
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    color: #000;
    margin: 20px;
}

.card1 {
    width: 25vw;
    height: 35vh;
    padding: 30px;
    margin: 10px;
    border-radius: 5px;
    background-color: #8a8a8a;
    background-image: url(./../sources/img/docentes/ben-parker-OhKElOkQ3RE-unsplash.jpeg);
    background-size: cover;
    align-content: center;
}

.card1 h1, p {
    justify-content: space-around;



}

.card2 {
    width: 25vw;
    height: 35vh;
    padding: 30px;
    margin: 10px;
    border-radius: 5px;
    background-color: #8a8a8a;
    background-image: url(https://images.pexels.com/photos/10581916/pexels-photo-10581916.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-size: cover;
}

.card3 {
    width: 25vw;
    height: 35vh;
    padding: 30px;
    margin: 10px;
    border-radius: 5px;
    background-color: #8a8a8a;
    background-image: url(./../sources/img/docentes/toa-heftiba-O3ymvT7Wf9U-unsplash.jpeg);
    background-size: cover;
}

.card4 {
    width: 25vw;
    height: 35vh;
    padding: 30px;
    margin: 10px;
    border-radius: 5px;
    background-color: #8a8a8a;
    background-image: url(./../sources/img/docentes/pexels-pixabay-220453.jpeg);
    background-size: cover;
}

.card5 {
    width: 25vw;
    height: 35vh;
    margin: 10px;
    border-radius: 5px;
    padding: 30px;
    background-color: #8a8a8a;
    background-image: url(./../sources/img/docentes/pexels-andrea-piacquadio-774909.jpeg);
    background-size: cover;
}

.card6 {
    width: 25vw;
    height: 35vh;
    padding: 30px;
    margin: 10px;
    border-radius: 5px;
    padding: 30px;
    background-color: #8a8a8a;
    background-image: url(./../sources/img/docentes/michael-dam-mEZ3PoFGs_k-unsplash.jpeg);
    background-size: cover;
}

.card7 {
    width: 25vw;
    height: 35vh;
    padding: 30px;
    margin: 10px;
    border-radius: 5px;
    padding: 30px;
    background-color: #8a8a8a;
    background-image: url(./../sources/img/docentes/ian-dooley-d1UPkiFd04A-unsplash.jpeg);
    background-size: cover;
}

.card8 {
    width: 25vw;
    height: 35vh;
    border-radius: 5px;
    padding: 30px;
    margin: 10px;
    background-color: #8a8a8a;
    background-image: url(https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80);
    background-size: cover;
    justify-content: center;
}

.card9 {
    width: 25vw;
    height: 35vh;
    border-radius: 5px;
    padding: 30px;
    margin: 10px;
    background-color: #8a8a8a;
    background-image: url(https://images.unsplash.com/photo-1521119989659-a83eee488004?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1923&q=80);
    background-size: cover;
    }

    .cardtext {
        text-shadow: darkblue;
        align-content: space-between;
    }

/* NOTICIAS */
.noticiasTitle {
    background-color: #FFB703;
    position: relative; 
    left: 0;
    top: auto;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;

}

.noticiasTitle h1 {
    font-size: 10vh; 
}