@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

li, a, button {
    font-family: "Archivo Black", "sans-serif";
    font-weight: none;
    font-size: 1vw;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 2%;
    background-color: #000;
    }

main{
    padding: 0; 
    margin: 0;
    font-family: "Archivo black", sans-serif;

}


/* MENÚ PRINCIPAL */
.logo {
    width: 10vw;
    height: auto;
    cursor: pointer;
    position: relative;
    justify-content: space-between;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;

}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover  {
    color: yellow;
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,1);

}


/* SLIDER / BANNER */
.hero {
    background-image: url("./../sources/img/robert-keane-rlbG0p_nQOU-unsplash.jpeg");
    position: relative; 
    left: 0;
    top: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    
    
}

.hero__title {
    font-size: 5vw;
    color: #fff;
    text-shadow: 3px 3px 5px #000;

}

.hero__subtitle {
    font-size: 3vw;
    color: #fff;
    background-size: 10px;
    text-shadow: 3px 3px 5px #000;
}


/* BOX MENU */
.box {
    margin: 20px;
}

.box__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px; 
}

.box h2 {
    color: #fff;
    padding: 100px;
    font-size: 2vw !important;  
    text-transform: capitalize !important;
}

.box__malla {
    background-color: #FB8500; 
    width: 350px;
    height: 350px;
    text-align: center;
    justify-content: center;
    border-radius: 1em;
    
}

.box__docentes {
    background-color: #023047; 
    width: 350px;
    height: 350px;
    text-align: center;
    justify-content: center;
    border-radius: 1em;
}

.box__noticias {
    background-color: #FFB703 ; 
    width: 350px;
    height: 350px;
    text-align: center;
    justify-content: center;
    border-radius: 1em;
}

.box__electivos {
    background-color: #219EBC; 
    width: 350px;
    height: 350px;
    text-align: center;
    justify-content: center;
    border-radius: 1em;
}

.box__horarios {
    background-color: #AC5B00; 
    width: 350px;
    height: 350px;
    text-align: center;
    justify-content: center;
    border-radius: 1em;
}

.box__escuela {
    background-color: #8ECAE6; 
    width: 350px;
    height: 350px;
    text-align: center;
    justify-content: center;
    border-radius: 1em;
}


/* NOTICIAS DESTACADAS*/
.lines {
    width: 100%;
    height: 45px;
    position: relative;
    bottom: 45px;
}

.lines::after, .lines::before {
    content:'';
    position: absolute;
    margin: 5vw;
    height: 2px;
    background: #000;
    width: 90%;
}

.news__section__title {
    text-align: center;
    font-size: 5vw;
}

.news__row {
    display: flex;
}

.news {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.news__row h3 {
    padding: 50px;

}

.news__row p {
    font-family: Arial, Helvetica, sans-serif;
}

.news img {
    width: 100%;
    height: 50;
}


/* FOOTER */
.footer {
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    position: relative;
}

.logo__arcos {
    width: 20vh;
}

.column__one p, h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: right;
    
}

.column__two {
}    

.column__three {
    object-fit: contain;
}